
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>ADMIN PANEL</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link
      href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet" />
  </head>

  <body>


<style>
    .align-middle {
        vertical-align: middle;
    }
</style>


<div class="container-fluid pt-4">
    <div class="row">
        <div class="col-md-12">
            

            {{!-- <div class="bg-light rounded p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h6 class="mb-4" style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.2em; margin-bottom: 0;">Category List</h6>
                    <a href="/admin/unlisted-category" class="btn btn-outline-danger m-2">Unlisted Category</a> --}}
                </div>
                {{!-- <div class="table-responsive">
                    <table class="table w-100">
                        <thead>
                            <tr>
                                <th scope="col">SL NO</th>
                                <th scope="col">NAME</th>
                                <th scope="col">EMAIL</th> 
                                <th scope="col">MOBILE</th>
                                <th scope="col">VERIFIED</th>
                                <th scope="col">ACTION</th>

                                
                                

                               

                            </tr>
                            
                        </thead>
                      
                        <tbody>
                            {{#each user }}
                            <tr>
                                <th class="align-middle" scope="row">{{serialNumber}}</th>
                                <td class="align-middle">{{name}}</td>
                                <td class="align-middle">{{email}}</td>
                                 <td class="align-middle">{{mobile}}</td>
                                 {{#if is_verified}}
                                <td class="align-middle">VERIFIED</td>
                                {{else}}
                                <td class="align-middle">NOT VERIFIED</td>
                                {{/if}}

                                <td class="align-middle">  <a href="/admin/edit-user?id={{_id}}" class="btn btn-outline-success m-2">EDIT</a> </td>
                                <td class="align-middle">  <a href="/admin/block?id={{_id}}" class="btn btn-outline-danger m-2">BLOCK</a> </td>

                                 
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div> --}}
                <div class="table-responsive">
    <table class="table w-100">
  <thead>
    <tr>
      <th scope="col">SL NO</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">MOBILE</th>
      <th scope="col">VERIFIED</th>
      <th class="text-center" scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    {{#each user}}
<tr>
  <th class="align-middle" scope="row">{{serialNumber}}</th>
  <td class="align-middle">{{name}}</td>
  <td class="align-middle">{{email}}</td>
  <td class="align-middle">{{mobile}}</td>
  {{#if is_verified}}
  <td class="align-middle">VERIFIED</td>
  {{else}}
  <td class="align-middle">NOT VERIFIED</td>
  {{/if}}
  <td class="align-middle text-center">
    {{#if blocked}}
    <a href="/admin/unblock?id={{this._id}}" class="btn btn-outline-primary m-2" style="background-color: blue; color: white;">UNBLOCK</a>
    {{else}}
    <a href="/admin/block?id={{this._id}}" class="btn btn-outline-danger m-2" style="background-color: red; color: white;" onclick="return confirmBlock()">BLOCK</a>
    {{/if}}
    <a href="/admin/edit-user?id={{this._id}}" class="btn btn-outline-success m-2" style="background-color: green; color: white;">EDIT</a>
  </td>
</tr>
{{/each}}

<script>
  function confirmBlock() {
    return confirm("Are you sure you want to block this user?");
  }
</script>

  </tbody>
</table>

</div>

            </div>
        </div>
    </div>
</div>




    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script
      src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"
    ></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>

</html>












